@model CategoryViewModel;

<h4>Genres</h4>
<ul class="nav nav-pills flex-column">
    @foreach (var c in Model.Categories)
    {
        <li class="nav-item">
            @if (@Model.SelectedCategoryId != c.Id)
            {
                <a class="nav-link" asp-controller="Product" asp-action="List" asp-route-category="@c.Id" asp-route-page="1">@c.Name</a>
            }
            else
            {
                <a class="nav-link active" asp-controller="Product" asp-action="List" asp-route-category="@c.Id" asp-route-page="1">@c.Name</a>
            }
        </li>
    }
</ul>