@page
@model CartPage
@{
    ViewData["Title"] = "Cart";
    ViewData["ActivePage"] = ManageNavPages.CartPage;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>Your cart</h2>
<table width="90%" align="center">
    <thead>
        <tr>
            <th align="center">Quantity</th>
            <th align="left">Item</th>
            <th align="right">Price</th>
            <th align="right">SubTotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td align="center">@line.Quantity</td>
                <td align="left">@line.Name</td>
                <td align="right">@line.Price.ToString("c")</td>
                <td align="right">@((line.Quantity * line.Price).ToString("c"))</td>
                <td>
                    @*                    <form asp-controller="Cart" asp-action="RemoveFromCart">
                <input type="hidden" asp-for="@line.ProductId">
                <button class="btn btn-lg btn-primary" type="submit">Remove</button>
                </form>*@
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductID", line.ProductId)
                        @*@Html.HiddenFor(x=>x.ReturnUrl)*@
                        <input class="btn btn-lg btn-primary" type="submit" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="right">Total:</td>
            <td align="right">@Model.Cart.ComputeTotalValue().ToString("c")</td>
        </tr>
    </tfoot>
</table>
@*<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout")
</p>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

